* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
.genel {
  background-color: #fff2f2;
}
.info {
  background-color: #464950;
  padding: 11px;
  text-align: center;
}
.info p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: white;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  margin: 20px;
  position: relative;
}
header .logo {
  height: 51px;
  width: 161px;
}
.search-area {
  display: flex;
  align-items: center;
  position: relative;
}
.search-icon {
  width: 16px;
  height: 16px;
  position: absolute;
  margin-left: 10px;
}
.search {
  width: 294px;
  height: 35px;
  padding-left: 30px;
  border: 1px solid #686868;
  border-radius: 6px;
}

.navigation {
  display: flex;
  list-style-type: none;
  align-items: center;
}
.navigation li {
  margin-left: 20px;
  display: flex;
}
.navigation li a {
  margin-left: 10px;
  text-decoration: none;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  color: #686868;
}
.responsive i {
  color: black;
  display: none;
}
.profil {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #686868;
  border-radius: 10px;
}
.profil img {
  width: 36px;
  height: 36px;
}
.profil button {
  background-color: #fff;
  margin-left: 10px;
  text-decoration: none;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  color: #686868;
  border: none;
  display: flex;
  gap: 10px;
}
.profil button:hover {
  background-color: #fff;
  border: none;
}
#dropdown ul {
  background-color: #fff;
}

.navigation li a:hover {
  background: linear-gradient(91.58deg, #c32f27 -9.27%, #fe3636 107.22%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

article.notification {
  width: 97%;
  height: 100px;
  margin: 20px;
  margin-top: 30px;

  background: #fff2f2;
  border-radius: 12px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #686868;
  border-left: 15px solid #c32f27;
  position: relative;
}
article.notification img {
  width: 21.5;
  height: 21.5;
  right: 5px;
  top: 5px;
  position: absolute;
}
article.notification img:hover {
  cursor: pointer;
}
article.slider {
  width: 95%;
  height: 59vh;
  margin: 20px;
  margin-top: 30px;
  position: relative;
  background-color: orange;
  border-radius: 12px;
  margin: auto;
}
.slides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 16px;
  font-weight: bold;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(255, 166, 0, 0);
  border: none;
}
.next {
  right: 0;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
section.menu {
  margin: 30px;
  margin-top: 65px;
  position: relative;
}
section .title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #686868;
}
section.menu span {
  position: absolute;
  top: 5px;
  right: 5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #686868;
}
.paketler {
  display: flex;
  overflow-x: auto;
  gap: 25px;
}
.paket {
  width: 220px;
  height: 310px;

  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 34px 45px 12px;
  gap: 47px;
  background: #ffffff;
  box-shadow: 0px 5px 10px 2px rgba(255, 219, 219, 0.6);
  border-radius: 12px;
  margin-top: 45px;
  margin-bottom: 45px;
}

.paket .title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #686868;
  text-align: center;
}
.paket ul li {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  list-style-type: none;
  color: #686868;
}
.paket button {
  width: 165px;
  height: 33px;
  background: linear-gradient(91.58deg, #c32f27 -9.27%, #fe3636 107.22%);
  border-radius: 6px;
  color: white;
  border: 0;
  cursor: pointer;
}
.paket:hover {
  background-image: url("../img/bg.png");
  background-position: center;
  box-shadow: 0px 5px 10px rgba(255, 219, 219, 0.6);
}
.paket:hover p {
  color: #fff;
}
.paket:hover li {
  color: #fff;
}
.paket:hover button {
  background: #fff;
  color: #686868;
}
.paket .ek {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #686868;
  margin-bottom: 13px;
}
.appreciations {
  width: 95%;
  margin: 20px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.appreciations h2 {
  align-self: flex-start;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #686868;
  margin: 7px;
}

.appreciations-container {
  background: #fff2f2;

  text-align: center;
  margin-top: 90px;
  display: flex;
}
.appreciation {
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: space-around;
  box-shadow: 0px 5px 10px 2px rgba(225, 225, 225, 0.6);
  border-radius: 12px;
  width: 546px;
  height: 172px;
  position: relative;
  transform: scale(0.8);
  filter: blur(0px);
  -webkit-filter: blur(3px);
}
.active {
  transform: scale(1.1);
  filter: blur(0);
}
.user-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  left: -60px;
  top: -40px;
}
.user {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  background: linear-gradient(91.58deg, #c32f27 -9.27%, #fe3636 107.22%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.user-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #686868;
}
.user-recommend {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #686868;
}
.left {
  position: absolute;
  top: 50%;
  left: 0px;
}
.right {
  position: absolute;
  top: 50%;
  right: 0;
}
button:hover {
  cursor: pointer;
}
.about-us {
  width: 98%;
  margin: 30px;
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-us h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #686868;
  margin-top: 10px;
}
.about-us p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #686868;
  margin-top: 50px;
}
.q-a {
  margin-top: 40px;
}

details {
  width: 100%;
  margin: 0 auto;
  border-radius: 12px;
  margin-bottom: 0.5rem;
  overflow: hidden;
}

summary {
  padding: 1rem;
  display: block;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  background: linear-gradient(91.58deg, #c32f27 -9.27%, #fe3636 107.22%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  padding-left: 2.2rem;
  position: relative;
  cursor: pointer;
}

summary:before {
  content: "";
  border-width: 0.4rem;
  border-style: solid;
  border-color: transparent transparent transparent #686868;
  position: absolute;
  top: 1.3rem;
  right: 1rem;
  transform: rotate(0);
  transform-origin: 0.2rem 50%;
  transition: 0.25s transform ease;
}

details[open] > summary:before {
  transform: rotate(90deg);
}

details summary::-webkit-details-marker {
  display: none;
}
details p {
  margin-bottom: 12px;
}

footer {
  position: relative;
  overflow-x: hidden;
  width: 100%;
}
.footer-top {
  display: flex;
  justify-content: space-between;

  background: #ffdbdb99;
}

.footer-top-left img {
  width: 160px;
  height: 50px;
  margin: 30px 0 30px 0;
  margin-left: 270px;
}
.footer-top-right {
  margin-right: 100px;
}
.footer-top-right img {
  width: 160px;
  height: 50px;
  margin: 30px 0 30px 0;
}

.footer-middle {
  width: 100vw;
  background: linear-gradient(91.58deg, #c32f27 -9.27%, #fe3636 107.22%);
  display: flex;
  justify-content: space-between;
}
.footer-middle-left {
  display: flex;
  margin-top: 17px;
  margin-left: 270px;
}
.footer-nav {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}
.footer-nav p {
  margin: 5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}
.footer-nav p:first-child {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}
.footer-middle-right {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}
.social {
  display: flex;
  justify-content: end;
}
i {
  color: #fff;
  font-size: 20px;
  margin: 5px;
  margin-top: 30px;
}
.footer-middle-right img {
  margin-top: 35px;
  margin-left: 70px;
}
.contracts {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #464950;
}
.footer-bottom p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  color: #ffffff;
}

.footer-bottom img {
  width: 500px;
  height: 25px;
  margin-right: 50px;
}
.footer-logo {
  position: absolute;
  top: 20px;
  left: 30px;
  width: 210px;
  height: 240px;
}
.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}
.responsive a {
  display: none;
}
@media (max-width: 1160px) {
  .container {
    width: 100%;
  }

  .search {
    display: none;
  }
  .toggle-button {
    display: flex;
  }
  .navigation {
    display: none;
    flex-direction: column;
    width: 100%;
  }
  header {
    gap: 10px;
    flex-direction: column;
    align-items: flex-start;
  }
  .navigation ul {
    flex-direction: column;
    width: 100%;
  }
  .navigation li {
    text-align: center;
    margin: 5px;
  }
  .navigation li img {
    display: none;
  }
  .navigation li.profil {
    display: none;
  }
  .navigation.active {
    display: flex;
  }
  .responsive a {
    display: block;
  }
  hr {
    width: 100%;
    background-color: #686868;
    height: 2px;
    margin: 10px;
  }
}
@media (max-width: 800px) {
  .footer-logo {
    display: none;
  }
  .footer-top-left img {
    margin: 30px;
  }
  .footer-middle-left {
    margin: 30px;
  }
  .footer-top-right {
    margin-right: 30px;
  }
  .footer-middle-right {
    margin-right: 30px;
  }
}
@media (max-width: 550px) {
  .footer-top {
    display: flex;
    justify-content: center;
  }

  .footer-top-right {
    display: none;
  }
  .footer-middle {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-middle-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer-nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-nav:nth-child(2) {
    display: none;
  }
  .footer-middle-right {
    display: flex;
  }
  .footer-middle-right img {
    display: none;
  }
  .contracts {
    display: none;
  }
  .social {
    gap: 10px;
    justify-content: space-between;
  }
  .footer-bottom {
    justify-content: center;
  }
  .footer-bottom img {
    display: none;
  }
}
