* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
.genel {
  background-color: #fff2f2;
}
.info {
  background-color: #464950;
  padding: 11px;
  text-align: center;
}
.info p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: white;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  width: 95%;
  margin: 20px;
  position: relative;
}
header .logo {
  height: 51px;
  width: 161px;
}
.search-area {
  display: flex;
  align-items: center;
  position: relative;
}
.search-icon {
  width: 16px;
  height: 16px;
  position: absolute;
  margin-left: 10px;
}
.search {
  width: 294px;
  height: 35px;
  padding-left: 30px;
  border: 1px solid #686868;
  border-radius: 6px;
}

.navigation {
  display: flex;
  list-style-type: none;
  align-items: center;
}
.navigation li {
  margin-left: 20px;
  display: flex;
}
.navigation li a {
  margin-left: 10px;
  text-decoration: none;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  color: #686868;
}
.responsive i {
  color: black;
  display: none;
}
.profil {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #686868;
  border-radius: 10px;
}
.profil img {
  width: 36px;
  height: 36px;
}
.profil button {
  background-color: #fff;
  margin-left: 10px;
  text-decoration: none;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  color: #686868;
  border: none;
  display: flex;
  gap: 10px;
}
.profil button:hover {
  background-color: #fff;
  border: none;
}
#dropdown ul {
  background-color: #fff;
}

.navigation li a:hover {
  background: linear-gradient(91.58deg, #c32f27 -9.27%, #fe3636 107.22%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
section {
  width: 100%;
  display: flex;
  justify-content: center;
}
.video-area {
  position: relative;
}
.video {
  position: relative;
  width: 90vw;
}
.video-area button {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: rgba(54, 54, 54, 0.6);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  cursor: pointer;
}
.play {
  margin: auto;
}
.video-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;

  background: linear-gradient(91.58deg, #c32f27 -9.27%, #fe3636 107.22%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.video-explanation {
  display: flex;
  justify-content: space-around;
  width: 95%;
}
.left {
  width: 50vw;
}
.title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #686868;
  margin: 50px 0;
}
p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #686868;
  margin-bottom: 40px;
}
h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #686868;
  margin-bottom: 40px;
}

.left ul li {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #686868;
  margin: 15px;
  list-style-type: none;
  display: flex;
  align-items: center;
}
.left ul li img {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}
.right {
  width: 20vw;
  display: flex;
  flex-direction: column;

  align-items: center;
  margin-top: 20px;
}
.right p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #686868;
  margin-bottom: 15px;
}
.score {
  display: flex;
  gap: 15px;
  align-items: center;
}
.box img {
  width: 32px;
  height: 32px;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box:hover {
  cursor: pointer;
}
.değerlendir {
  background: linear-gradient(91.58deg, #c32f27 -9.27%, #fe3636 107.22%);
  box-shadow: 0px 5px 10px 2px rgba(255, 219, 219, 0.6);
  border-radius: 6px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  border: none;
  color: #ffffff;
  width: 100%;
  padding: 10px 0;
  margin-top: 15px;
}
.under-button {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: justify;
  color: #686868;
  margin-top: 35px;
}
.gift,
.share {
  align-self: flex-end;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin-top: 15px;

  background: linear-gradient(91.58deg, #c32f27 -9.27%, #fe3636 107.22%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.gift,
.share:hover {
  cursor: pointer;
}
.others {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-left: 85px;
  flex-wrap: wrap;
}
.others h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #686868;
  margin-bottom: 20px;
  margin-top: 70px;
}
.others-area {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.other {
  display: flex;
  flex-direction: column;
}
.lesson-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #fe3636;
}
.tag {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #686868;
}
.other img {
  height: 115px;
  width: 200px;
}
.tags img {
  height: 10px;
  width: 10px;
}
footer {
  position: relative;
  overflow-x: hidden;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  background: #ffdbdb99;
}

.footer-top-left img {
  width: 160px;
  height: 50px;
  margin: 30px 0 30px 0;
  margin-left: 270px;
}
.footer-top-right {
  margin-right: 100px;
}
.footer-top-right img {
  width: 160px;
  height: 50px;
  margin: 30px 0 30px 0;
}

.footer-middle {
  width: 100vw;
  background: linear-gradient(91.58deg, #c32f27 -9.27%, #fe3636 107.22%);
  display: flex;
  justify-content: space-between;
}
.footer-middle-left {
  display: flex;
  margin-top: 17px;
  margin-left: 270px;
}
.footer-nav {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}
.footer-nav p {
  margin: 5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}
.footer-nav p:first-child {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}
.footer-middle-right {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}
.social {
  display: flex;
  justify-content: end;
}
i {
  color: #fff;
  font-size: 20px;
  margin: 5px;
  margin-top: 30px;
}
.footer-middle-right img {
  margin-top: 35px;
  margin-left: 70px;
}
.contracts {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #464950;
}
.footer-bottom p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  color: #ffffff;
}

.footer-bottom img {
  width: 500px;
  height: 25px;
  margin-right: 50px;
}
.footer-logo {
  position: absolute;
  top: 20px;
  left: 30px;
  width: 210px;
  height: 240px;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}
.responsive a {
  display: none;
}
@media (max-width: 1160px) {
  .container {
    width: 100%;
  }

  .search {
    display: none;
  }
  .toggle-button {
    display: flex;
  }
  .navigation {
    display: none;
    flex-direction: column;
    width: 100%;
  }
  header {
    gap: 10px;
    flex-direction: column;
    align-items: flex-start;
  }
  .navigation ul {
    flex-direction: column;
    width: 100%;
  }
  .navigation li {
    text-align: center;
    margin: 5px;
  }
  .navigation li img {
    display: none;
  }
  .navigation li.profil {
    display: none;
  }
  .navigation.active {
    display: flex;
  }
  .responsive a {
    display: block;
  }
  hr {
    width: 100%;
    background-color: #686868;
    height: 2px;
    margin: 10px;
  }
}
@media (max-width: 800px) {
  .footer-logo {
    display: none;
  }
  .footer-top-left img {
    margin: 30px;
  }
  .footer-middle-left {
    margin: 30px;
  }
  .footer-top-right {
    margin-right: 30px;
  }
  .footer-middle-right {
    margin-right: 30px;
  }
}
@media (max-width: 550px) {
  .footer-top {
    display: flex;
    justify-content: center;
  }

  .footer-top-right {
    display: none;
  }
  .footer-middle {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-middle-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer-nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-nav:nth-child(2) {
    display: none;
  }
  .footer-middle-right {
    display: flex;
  }
  .footer-middle-right img {
    display: none;
  }
  .contracts {
    display: none;
  }
  .social {
    gap: 10px;
    justify-content: space-between;
  }
  .footer-bottom {
    justify-content: center;
  }
  .footer-bottom img {
    display: none;
  }
  .değerlendir {
    font-size: 18px;
  }
}
